{% extends 'base/base.html' %}
{% load static %}
{% block title %}Planos Disponíveis em {{ city.cdd_nome }}{% endblock title %}
{% block extracss %}
{% endblock extracss %}

{% block content %}
<div class="grid_portifolio geral container">

    <div class="all_tipo_portifolio geral d-flex justify-content-center">
        <div class="group_blocks row ">
            <!-- UM LOOP PARA IDENTIFICAR TODOS OS TIPOS DE CLIENTES -->
            <div class="tipo_portifolio geral col-xs-6 destaque" data-group="Residencial" onclick="destacar(this)">Residencial</div>
            <div class="tipo_portifolio geral col-xs-6" data-group="Corporativo" onclick="destacar(this)">Corporativo</div>
        </div>

    </div>

    {% for plano in planos %}
    <div class="bloco_all_planos geral row d-flex justify-content-center">
        <!-- SE RESIDENCIAL INCLUIR A CLASSE mostrar  -->
        <div class="bloco_plano_completo geral col-md-4 col-sm-6 col-xs-12 destacar mostrar" data-tipo_portifolio="{{plano.plan_tipocliente}}">
            <div class="bloco_destaque geral ">
                {{plano.plan_textdestaque}}
            </div>

            <div class="bloco_plano geral">
                <!-- PARTE SUPERIOR DO BLOCO DO PLANO -->
                <div class="plano_top">
                    <div class="plano_nome">
                        {{plano.plan_nome}}
                    </div>

                    <!-- SCRIPT PARA MONTAR O VALOR QTDE MESES E TEXTO DAS OPÇÕES DO SELECT LIST  -->
                    <select class="form-control combobox" id="{{plano.plan_id}}">
                        <option data-acordo="299" data-fid="0">Sem fidelidade</option>
                        <option selected data-acordo="129" data-fid="12">Fidelidade 12 Meses</option>
                        <option data-acordo="119" data-fid="24">Fidelidade 24 Meses</option>
                        <option data-acordo="99" data-fid="36">Fidelidade 36 Meses</option>
                    </select>

                    <div class="bloco_valores">
                        <div class="valor_sem_destaque inf_adicionais" data-id="{{plano.plan_id}}">de R$ {{plano.plan_valor}}</div>

                        <div class="valor_com_destaque" data-id="{{plano.plan_id}}">R$<span>{{plano.acor_padrao.acor_valor}}</span>/mês*</div>

                        {% for acordo in plano.acordos %}
                        <div class="inf_adicionais inf_economize" data-id="{{plano.plan_id}}">*<b>Economize R$ {{ acordo.economia|floatformat:2 }}</b> no final
                            dos {{plano.acor_padrao.acor_fid.fid_qtdmeses}} Meses de Fidelidade.
                        </div>
                        {% endfor %}
                    </div>

                    <button class="btn btn-primary" type="submit">
                        Contratar
                    </button>

                </div>

                <!-- PARTE INFERIOR DO BLOCO DO PLANO -->
                <div class="plano_botton">
                    <div style="width: 310px; margin: 0 auto;">
                        <div class="taxa_up_down">
                            <div><b>Download até {{plano.plan_taxadown}}Mbps</b></div>
                            <div>Upload até {{plano.plan_taxaup}}Mbps</div>
                        </div>
                        {% if plano.plan_combo == 1 %}
                        <div class="bloco_itens_combo">
                            {% for item in plano.itens %}
                            <div class="d-flex justify-content-center">
                                <div class="all_icon_itens_combo row collapse show">
                                    <div class="icon_itens_combo"><img class="img_icon_itens_combo" title="HBO Max"
                                            src="{{item.item_icone}}">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="Lista_Itens">
                                    <div class="Title_Icon">
                                        <span>Ver detalhes</span>
                                    </div>
                                    <div class="expandir-icon expandir-lista" data-bs-toggle="collapse" data-bs-target="#itensLista_{{plano.plan_id}}">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="justify-content-left collapse" id="itensLista_{{plano.plan_id}}">
                                <div class="Lista_Itens">
                                    <div class="icon_itens_combo2"><img class="img_icon_itens_combo2" title="{{item.item_nome}}"
                                        src="{{item.item_icone}}">
                                    </div>
                                    <div class="Title_Icon">
                                        <span>{{item.item_nome}}</span>
                                    </div>
                                    <div class="expandir-icon" data-bs-toggle="collapse" data-bs-target="#itensLista1<<<<<<<<<<<">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </div>
                                </div>

                                <div id="itensLista1<<<<<<<<<<<<" class="collapse ">
                                    <div class="Detalhes_Item texto_hifen">
                                        {{item.item_detalhe}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock content %}

